/* DEVELOPER Adam Soto, IS117-005, Fall 2024 */

/* Nav Menu */
.bg-dark {
    background-color: #e71e26 !important;
}
body{
    background-color: #e9dcb9;
}

/* WIP Text */
.WIP{
    font-size: 150%;
    text-align: center;
    margin-top: 15%;
}

/* Footer */
.footer{
    background-color: #e71e26;
    color: white;
    text-align: center;
    margin-top: 23%;
}